body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3%;
  color: #FEF2BF;
}

#game-btn {
  width: 538.4px;
  display: block;
  margin: auto;
}
.row {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
}

.btn {
  margin: 25px;
  /* display: inline-block; */
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
@media (max-width: 740px) {
  #game-btn {
    width: 398.4px;
    display: block;
    margin: auto;
  }

  .btn {
    margin: 15px;
    /* display: inline-block; */
    height: 150px;
    width: 150px;
    border: 10px solid black;
    border-radius: 15%;
  }
}
/* start button style... */
#start-button {
  font-size: 2rem;
  font-family: 'Press Start 2P', cursive;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FEF2BF;
  cursor: pointer;
  border: 3px solid;
  margin-top: 10px;
}
#start-button:hover {
  background-color: #000; /* Button background color on hover */
  color: #FEF2BF; /* Text color on hover */
}



.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
